@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

body {
	background-color: silver;
}

button {
	border: 2px solid black;
	display: block;
	margin: 20px auto;
	outline: none;
}

#button--close {
	margin: 0px;
	padding: 2px;
	position: absolute;
	right: 2px;
	top: 2px;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

#dialog--answer {
	padding: 2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
}

h4 {
	font-size: 2em;
	margin-bottom: 2px;
}

h6 {
	margin-top: 2px;
}

.jokeContainer {
	background-color: rgb(152, 152, 255);
	border: 2px groove black;
	margin: 250px auto;
	padding: 25px 100px;
}